

#home-before-login{

	background-image:url(../img/bg.jpg);
	background-size: cover;
	background-attachment: fixed;

	.home-text{
		color: white;
		font-size: 17px;
		margin-top: 15%;

	}

	.card{
		margin-top: 15px;
		margin-bottom: 19px;
		
		.form-group{
			margin-top: -15px;

		}

		.card-header{
			font-size: 15px;

		}
	}
}