{% extends 'home/base.html' %}
{% load static %}
{% block title%} Profile {% endblock %}

{% block body%}
<!-- =================================== Header Image ======================================= -->  
    <section id="header">
    	<img src="{{ user.userprofile.profile_image.url }}" class="rounded-circle img-responsive profilepage-image" >
    	<div>
    		<img src="{{ user.userprofile.cover_image.url }}" class="img-fluid cover-image" alt="Cover image">
    	</div>



    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		    <div class="container">
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		          <span class="navbar-toggler-icon"></span>
		        </button>
		        
		        <div class="navbar-collapse" id="navbarSupportedContent">
			        <ul class="nav navbar-nav mx-auto">
			            <li class="nav-item">
			              <a class="nav-link" href="{% url 'home:home' %}">Tweets</a>
			            </li>
			            <li class="nav-item">
			              <a class="nav-link" href="">Following</a>
			            </li>
			            <li class="nav-item">
			              <a class="nav-link" href="">Followers</a>
			            </li>
			        </ul>
		          

		          <ul class="navbar-nav ml-auto">
		            <li class="nav-item">
		              <a href="#" class="btn btn-primary btn-md tweet-btn" role="button">Edit Profile</a>
		            </li>
		          </ul>
		         </div>
		    </div>
	    </nav>


    </section>

    
{% endblock %}


				
				
